@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <div class="container">
        <h1>Vector Electric Corporation</h1>
        <p>Spokane's trusted electrical contractor.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2>About The Owner</h2>
            <p>
                Vector Electric Corporation is owned by David Bensel, who has worked in the electrical field since 1987.
                He became a journeyman electrician in 1991 and received his master’s license in 2007. David started his
                company with his business partner as J&D Electrical in 2009, and rebranded as Vector Electric in 2014.
                During that time, Vector Electric has been proud to offer its customers an excellent level of service
                in every aspect of electrical contracting.
            </p>
        </div>
        <div class="col-sm-4">content</div>
    </div>
</div>

<div class="container">
    <h1 class="text-center">Services</h1>
    <div class="container">
        
        <div class="row">
            <div class="col-sm-4">content</div>
            <div class="col-sm-8">
                <h2>Residential Electric</h2>
                <p>
                    Vector Electric is your custom electrical design specialist. Whether your project is a custom home
                    or a large subdivision, we can do it all for new construction, remodels, tenant improvement, and underground
                    electrical installations. We will come to your site to install high voltage electrical systems, wire up low
                    voltage systems such as alarms or communication lines, install access control systems, and install fire
                    alarm systems. We also offer installation of site lighting, street lighting, and much more to suit your home’s
                    specific needs.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>Commercial Electric</h2>
                <p>
                    When it comes to commercial electrical, Vector Electric is your one-stop shop. We can service any size of
                    business or commercial structure, from small offices to 500,000 square foot spaces. We offer high and low voltage
                    wiring, communication lines, access control systems, fire alarm systems, building automation systems, and much more.
                    We also provide lighting design, whether you’re looking to brighten up a workspace or create a dimmer, more romantic
                    restaurant atmosphere.
                </p>
            </div>
            <div class="col-sm-4 text-center">
                <ul>
                    Commercial venues we can serve include, but are not limited to, the following:
                    <li>Department Stores</li>
                    <li>Supermarkets</li>
                    <li>Office complexes</li>
                    <li>Churches</li>
                    <li>Low-density multifamily units</li>
                    <li>High-density multifamily units</li>
                    <li>Low-rise multifamily units</li>
                    <li>Mid-rise multifamily units</li>
                    <li>Highrise multifamily units</li>
                    <li>Mixed use buildings</li>
                </ul>
            </div>
        </div>
    </div>
</div>
